body {
    font-family: 'Abel', sans-serif;
}

p {
    font-size: 28px;
}

#title {
    font-size: 65px;
    font-family: 'Pacifico', cursive;
    color: white;
}

.jumbotron {
    margin: 20px auto 0;
    text-align: center;
    width: 70%;
    background-color: #d1e5ec;
    padding: 40px;
}


.container {
    margin: 0 auto 30px;
}

.RDP_textDec {
    text-decoration: none;
    color: black;
}

.no-dec {
    text-decoration: none !important;
    color: black;
}

.card {
    margin: 0 auto 20px;
}

/* icons */

.calendar {
    height: 20px;
    width: auto;
    margin: 0 10px 0 0;
}
.list {
    height: 22px;
    width: auto;
    margin: 0 10px 0 0;
}
.flame-icon {
    margin: 0 auto 18px;
    height: 60px;
    width: auto;
}

/* buttons */

.btn {
    margin: 0 10px;
}
.btn > a:hover {
    text-decoration: none !important;
    color: black;
}
.btn-table {
    background-color: #eecb27;
}
.btn-res {
    background-color: #e13239;
}

.min-height {
    min-height: 300px;
}